/* Water wave animation styling */
.path-0{
  animation:pathAnim-0 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,500 L 0,187 C 66.61773338266123,210.3228264890862 133.23546676532246,233.6456529781724 178,234 C 222.76453323467754,234.3543470218276 245.67586632137136,211.7402145763966 295,196 C 344.32413367862864,180.2597854236034 420.0610679491922,171.3934887162412 477,164 C 533.9389320508078,156.6065112837588 572.0798618818598,150.68583055863854 625,178 C 677.9201381181402,205.31416944136146 745.6194845233691,265.8631890492046 807,238 C 868.3805154766309,210.1368109507954 923.4422000246641,93.86141324454309 972,101 C 1020.5577999753359,108.13858675545691 1062.6117153779753,238.69115797262305 1113,267 C 1163.3882846220247,295.30884202737695 1222.1109384634356,221.37395486496482 1278,191 C 1333.8890615365644,160.62604513503518 1386.9445307682822,173.81302256751758 1440,187 L 1440,500 L 0,500 Z");
  }
  25%{
    d: path("M 0,500 L 0,187 C 41.33481317055124,199.66829448760637 82.66962634110249,212.33658897521272 136,223 C 189.3303736588975,233.66341102478728 254.65630780614134,242.32193858675546 318,219 C 381.34369219385866,195.67806141324454 442.7051424343322,140.37565667776545 495,131 C 547.2948575656678,121.62434332223457 590.5231224565298,158.17543470218274 645,202 C 699.4768775434702,245.82456529781726 765.2023677395487,296.9226045135035 826,278 C 886.7976322604513,259.0773954864965 942.6674065852756,170.13414724380317 981,134 C 1019.3325934147244,97.86585275619683 1040.1280059193489,114.54080651128376 1094,143 C 1147.8719940806511,171.45919348871624 1234.820569737329,211.70262671106178 1298,221 C 1361.179430262671,230.29737328893822 1400.5897151313357,208.6486866444691 1440,187 L 1440,500 L 0,500 Z");
  }
  50%{
    d: path("M 0,500 L 0,187 C 47.90509310642496,174.1504747811074 95.81018621284991,161.3009495622148 144,186 C 192.1898137871501,210.6990504377852 240.6643482550253,272.94667653224815 306,256 C 371.3356517449747,239.05332346775185 453.53242076704896,142.91234430879268 504,152 C 554.467579232951,161.08765569120732 573.205968676779,275.4039462325811 623,270 C 672.794031323221,264.5960537674189 753.6437045258355,139.47187076088295 815,112 C 876.3562954741645,84.52812923911706 918.2192132198792,154.70857072388705 962,177 C 1005.7807867801208,199.29142927611295 1051.479442594648,173.69384634356888 1111,155 C 1170.520557405352,136.30615365643112 1243.8630164015292,124.51604390183746 1301,131 C 1358.1369835984708,137.48395609816254 1399.0684917992353,162.24197804908127 1440,187 L 1440,500 L 0,500 Z");
  }
  75%{
    d: path("M 0,500 L 0,187 C 62.6778641016155,219.53890738685413 125.355728203231,252.07781477370824 179,238 C 232.644271796769,223.92218522629176 277.25495128869153,163.22764829202123 334,129 C 390.74504871130847,94.77235170797879 459.62446664200286,87.01159205820693 506,100 C 552.3755333579971,112.98840794179307 576.2471821432974,146.72598347515108 626,154 C 675.7528178567026,161.27401652484892 751.386804784807,142.08447404118877 816,159 C 880.613195215193,175.91552595881123 934.2055987174742,228.93612036009375 984,240 C 1033.7944012825258,251.06387963990625 1079.7908003452953,220.17104451843628 1122,193 C 1164.2091996547047,165.82895548156372 1202.6311999013442,142.37970156616106 1255,142 C 1307.3688000986558,141.62029843383894 1373.684400049328,164.31014921691946 1440,187 L 1440,500 L 0,500 Z");
  }
  100%{
    d: path("M 0,500 L 0,187 C 66.61773338266123,210.3228264890862 133.23546676532246,233.6456529781724 178,234 C 222.76453323467754,234.3543470218276 245.67586632137136,211.7402145763966 295,196 C 344.32413367862864,180.2597854236034 420.0610679491922,171.3934887162412 477,164 C 533.9389320508078,156.6065112837588 572.0798618818598,150.68583055863854 625,178 C 677.9201381181402,205.31416944136146 745.6194845233691,265.8631890492046 807,238 C 868.3805154766309,210.1368109507954 923.4422000246641,93.86141324454309 972,101 C 1020.5577999753359,108.13858675545691 1062.6117153779753,238.69115797262305 1113,267 C 1163.3882846220247,295.30884202737695 1222.1109384634356,221.37395486496482 1278,191 C 1333.8890615365644,160.62604513503518 1386.9445307682822,173.81302256751758 1440,187 L 1440,500 L 0,500 Z");
  }
}

/* image Shimmer effect styling */
.shimmer {
  background: linear-gradient(90deg, #5d53b0 25%, #1a3666 50%, #0e266d 75%);
  background-size: 2000px 100%;
  animation: shimmer 1.5s infinite linear;
}

@keyframes shimmer {
  0% { background-position: -1000px 0; }
  100% { background-position: 1000px 0; }
}



/* Left icon styling */
.reverse-btn-label {
  transform: translateX(-16px);
  transition: all 0.3s ease-out;
}
.reverse-icon-btn:hover .reverse-btn-label {
  transform: translateX(8px);
}

.left-icon {
  opacity: 0;
  transform: translateX(-30px); 
  transition: all 0.3s ease-out;
}

.reverse-icon-btn:hover .left-icon {
  animation: translate-left 0.3s ease-out forwards; 
  opacity: 1;
  transform: translateX(8px);
}

@keyframes translate-left {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Right icon styling */
.right-icon {
  opacity: 1;
  transform: translateX(-4px); 
  transition: all 0.3s ease-out;
}

.reverse-icon-btn:hover .right-icon {
  /* animation: translate-right 0.3s ease-out forwards;  */
  opacity: 0;
  transform: translateX(30px);
}

@keyframes translate-right {
  0% {
    opacity: 1;
    transform: translateX(-8px);
  }
  100% {
    opacity: 0;
    transform: translateX(30px);
  }
}